
.vs/Justin_Smith_Unit2_IT481/DesignTimeBuild/.dtbcache.v2
.vs/Justin_Smith_Unit2_IT481/FileContentIndex/0d9e8961-d9ed-48c9-8e2c-3ebe4615ba65.vsidx
.vs/Justin_Smith_Unit2_IT481/FileContentIndex/438c966c-e83f-479d-a2a2-db6719866f89.vsidx
.vs/Justin_Smith_Unit2_IT481/FileContentIndex/53875b75-4d7b-4dff-a98d-569df9be2f81.vsidx
.vs/Justin_Smith_Unit2_IT481/FileContentIndex/77e256e5-45d9-4dec-855b-0a64d29ecb9f.vsidx
.vs/Justin_Smith_Unit2_IT481/FileContentIndex/b1339ab2-d5de-4a0e-bf12-11c34277e9d6.vsidx
.vs/Justin_Smith_Unit2_IT481/v17/.futdcache.v2
.vs/Justin_Smith_Unit2_IT481/v17/.suo
.vs/ProjectEvaluation/justin_smith_unit2_it481.metadata.v7.bin
.vs/ProjectEvaluation/justin_smith_unit2_it481.projects.v7.bin
.vs/Justin_Smith_Unit2_IT481/FileContentIndex/7987602f-3aec-4b06-8d08-96dc5344fd33.vsidx
.vs/Justin_Smith_Unit2_IT481/FileContentIndex/f2dd2756-0a7f-4d4e-9914-417d8483b7b8.vsidx
.vs/Justin_Smith_Unit2_IT481/FileContentIndex/37a0773d-fdea-4cbf-86fd-1b1c033f256d.vsidx
